@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

img{
    width: 200px;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    background-color: #1d3565;
}       

.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}

fieldset{
    border: 3px solid #1d3565;
}

legend{
    border: 1px solid #1d3565;
    padding: 10px;
    text-align: center;
    background-color: #1d3565;
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #1d3565;
}

#data_nascimento{
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}

.titulo{
    font-size: 12px;
    font-weight: 400;
    width: 135px;
    margin-left: 65px;
    border: 1px solid #1d3565;
    padding: 10px;
    text-align: center;
    background-color: #1d3565;
    border-radius: 8px;
}

/*
#servico{
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    width: 120px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}
*/

#submit{
    background-image: linear-gradient(to right, #8b5689, #135390);
    font-family: "Poppins", sans-serif;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right, #be5640, #1f7e5a);
}

#textarea{
    padding: 20px;
    width: 250px;
    font-family: 'poppins', sans-serif;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    outline-color: none;
    resize: none;
}

#textarea::placeholder{
    color: #fff;
}